.fundo{
	background-color: #058ce1;
	color: #FFF;
}
.nome{
	font-size: 14px;
	font-weight: bold;
}
#circulo1 {
	padding-top: 5%;
	font-weight: bold;
	color:#058ce1;
	font-size: 16px;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align:center;
	border: 1px solid #058ce1;
	background-color: #FFF;
	transition: background-color 1s, color 1s, font-size 1s;
}

#circulo2 {
	padding-top: 20% !important;
	font-weight: bold;
	color:#FFF;
	font-size: 16px;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align:center;
	border: 1px solid #FFF;
	background-color: #058ce1;
	transition: background-color 1s, color 1s, font-size 1s;
}

#circulo3 {
	padding-top: 20% !important;
	font-weight: bold;
	color:#FFF;
	font-size: 16px;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align:center;
	border: 1px solid #FFF;
	background-color: #666;
	transition: background-color 1s, color 1s, font-size 1s;
}